#body{
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:top center;
    margin: 0;
}

#container{
	background-color:#fff;
	width:960px;
	margin: 0 auto;
}

#content{
	background-color:#fff;
	width:960px;
	margin-left:auto;
	margin-right:auto;
}